<header class=" vh-100 position-relative">
  <div
    class="layer position-absolute top-0 bottom-0 start-0 end-0 bg-black bg-opacity-75 d-flex justify-content-center align-items-center">

    <div class="content text-center text-white fw-bolder">
      <h3>Hello Everyone</h3>
      <h1>Real Estate</h1>
      <p class=" fs-3 fw-light ">Lorem, ipsum dolor. </p>
    </div>
  </div>

</header>
<!--End Header -->
<!-- Start Blog Section -->
<section class="blog" id="blog">
  <h2 class="heading text-center fs-1 fw-bold">BLOG </h2>
  <p class="paragrph text-center fs-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
  <div class="container w-75 py-3">
    <div class="row g-4 pt-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card h-100">
          <img src="../../../assets/img/1.jpeg" class="card-img-top" alt="...">

          <div class="card-body p-4">
            <h5 class="card-title">See more ideas about Travel</h5>
            <p class="card-text">Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien
              massa, convallis a pellentesque
              nec, egestas non nisi.</p>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card h-100">
          <img src="../../../assets/img/2.jpeg" class="card-img-top" alt="...">

          <div class="card-body p-4">
            <h5 class="card-title">See more ideas about Travel</h5>
            <p class="card-text">Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien
              massa, convallis a pellentesque
              nec, egestas non nisi.</p>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card h-100">
          <img src="../../../assets/img/3.jpeg" class="card-img-top" alt="...">
          <div class="card-body p-4">
            <h5 class="card-title">See more ideas about Travel</h5>
            <p class="card-text">Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien
              massa, convallis a pellentesque
              nec, egestas non nisi.</p>
          </div>

        </div>
      </div>
    </div>


  </div>
</section>

<!-- End Blog Section -->

  <!--Start galary-->
  <section id="galary">
    <h2 class="heading text-center fs-1 fw-bold"> Gallary </h2>
    <p class="paragrph text-center fs-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <div class=" container gx-5 ">


      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <div class="row py-5 gy-4">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="box position-relative overflow-hidden">
                <img src="../../../assets/img/4.jpeg" class=" w-100" alt="product" />

              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="box position-relative overflow-hidden">
                <img src="../../../assets/img/5.jpeg" class=" w-100" alt="product" />

              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="box position-relative overflow-hidden">
                <img src="../../../assets/img/6.jpeg" class=" w-100" alt="product" />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="box position-relative overflow-hidden">
                <img src="../../../assets/img/7.jpeg" class=" w-100" alt="product" />

              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="box position-relative overflow-hidden">
                <img src="../../../assets/img/8.jpeg" class=" w-100" alt="product" />

              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="box position-relative overflow-hidden">
                <img src="../../../assets/img/9.jpeg" class=" w-100" alt="product" />

              </div>
            </div>


      </div>

        </div>
      </div>
    </div>
  </section>
  <!--End galary-->

<!-- Start Footer Section -->
<div class="footer text-center">
  <div class="text">
    <p class=" text-white fs-4">Copy Right 2018 © <span class=" text-danger"> Real State</span> All Rights Reserved</p>
  </div>
</div>
<!-- Start Footer Section -->

